<a href="https://colab.research.google.com/github/bitasha/GRank/blob/master/Pandas_sklearn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [138]:
import numpy as np
import scipy as sp
import pandas as ps
import sklearn as sk
from sklearn.model_selection import train_test_split
from sklearn import naive_bayes,neighbors,neural_network,linear_model,tree
from sklearn.ensemble import RandomForestClassifier,VotingClassifier
from sklearn import utils

In [139]:
def FillingMissingValueinNumeric(dataset,categoricalColumn):
  data=dataset.copy()
  for column in m: 
    if column not in catcol:
      if np.sum(data.iloc[:,column].isna())>1:     
        v2=list(np.where(data.iloc[:,column].isna()==False)[0])
        data.iloc[v2,column]=np.float64(data.iloc[v2,column])
        v=list(np.where(data.iloc[:,column].isna())[0])
        data.iloc[v,column]=np.mean(data.iloc[v2,column])
  return data;

In [169]:
def FillingMissingValueinNominal(dataset,categoricalColumn):
  data=dataset.copy()
  m=range(0,len(data.columns))
  for column in m: 
    if column not in catcol:
      if np.sum(data.iloc[:,column].isna())>1:
        v2=list(np.where(data.iloc[:,12].isna()==False)[0])
        v=list(np.where(data.iloc[:,column].isna())[0])
        z=data.iloc[v2,:].groupby(column)
        FrequentValue=z.count().idxmax()[0]   
        print(f'{column},{FrequentValue}')     
        data.iloc[v,column]=FrequentValue     
  return data;

In [170]:
def OnehotCoding(dataset,categoricalColumn):
  data=dataset.copy()
  m=range(0,len(data.columns))
  for column in m:
    if column in categoricalColumn:
      tempdf = ps.get_dummies(data[column], prefix=column)
      data = ps.merge(
        left=data,
        right=tempdf,
        left_index=True,
        right_index=True,
      )
      data = data.drop(columns=column)
  return data;

In [173]:
catcol=[1,2,6,10,11,12]
data=ps.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/processed.va.data',header=None)
data[data=='?']=np.nan
data.head()
x=data.iloc[:,:-1]
y=data.iloc[:,-1]
x=FillingMissingValueinNumeric(x,catcol);
x=FillingMissingValueinNominal(x,catcol);
x=OnehotCoding(x,catcol)
train_x,test_x,train_y,test_y=train_test_split(x,y,test_size=0.2)

,0,3,4,5,7,8,9,1_0,1_1,2_1,...,6_0,6_1,6_2,10_1,10_2,10_3,11_0,12_3,12_6,12_7
0,63,140.0,260.0,0.0,112.0,1.0,3.0,0,1,0,...,0,1,0,0,1,0,0,0,0,0
1,44,130.0,209.0,0.0,127.0,0.0,0.0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
2,60,132.0,218.0,0.0,140.0,1.0,1.5,0,1,0,...,0,1,0,0,0,1,0,0,0,0
3,55,142.0,228.0,0.0,149.0,1.0,2.5,0,1,0,...,0,1,0,1,0,0,0,0,0,0
4,66,110.0,213.0,1.0,99.0,1.0,1.3,0,1,0,...,0,0,1,0,1,0,0,0,0,0

In [179]:
nb=naive_bayes.GaussianNB()
nb.fit(train_x,train_y)
pred=nb.predict(test_x)
print(sum(pred=test_y)/len(pred))

0.175

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,

In [180]:
KNNmodel=neighbors.KNeighborsRegressor(n_neighbors=50)
KNNmodel.fit(train_x,train_y)
pred=KNNmodel.predict(test_x)
print(sum(abs(pred-test_y))/len(pred))

1.1015000000000001

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,

In [182]:
rfmodel=RandomForestClassifier()
rfmodel.fit(train_x,train_y)
pred=rfmodel.predict(test_x)
print(sum((pred==test_y))/len(pred))

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,

0.3

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,

In [185]:
ANNModel=neural_network.MLPClassifier(validation_fraction=0.1)
ANNModel.fit(train_x,train_y)
pred=ANNModel.predict(test_x)
print(sum((pred==test_y))/len(pred))

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,

0.375

/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,